.container {
  padding: 0;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  min-width: 320px;
  min-height: 80px;
  border-radius: 3px;
  border: 2px pink solid;
  padding: 10px 15px;

  font-size: 20px;
  box-shadow: 8px 8px 1px pink, 16px 16px 1px orange, 24px 24px 1px yellow;
  -webkit-box-shadow: 8px 8px 1px pink, 16px 16px 1px orange,
    24px 24px 1px yellow;
  transition: 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  box-shadow: 4px -4px 1px pink, 8px -8px 1px orange, 12px -12px 1px yellow;
  -webkit-box-shadow: 4px -4px 1px pink, 8px -8px 1px orange,
    12px -12px 1px yellow;
  background: rgba(255, 255, 255, 0.65);
  padding: 12px;
  border-radius: 3px;
  margin-top: 3rem;
  animation: fadeIn 400ms ease-in;
}

.dinnerChoice {
  margin: 1rem;
  color: magenta;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
