.container {
  padding: 0;
}

.main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  min-width: 300px;
  border-radius: 3px;
  border: 2px pink solid;
  padding: 5px 10px;
  font-size: 20px;
  box-shadow: 4px 4px 1px pink, 8px 8px 1px orange, 12px 12px 1px yellow;
}

.card {
  box-shadow: 4px -4px 1px pink, 8px -8px 1px orange, 12px -12px 1px yellow;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 3px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
